<div class="container-fluid">
	<div class="row">
	<div class="col scroll" style="height:300px;">
	<br>
		<h2>Rezervisana vozila:</h2>
		<table class="table" >
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;">Naziv</th>
					<th style="text-align: center;">Marka</th>
					<th style="text-align: center;">Model</th>
					<th style="text-align: center;">Godina proizvodnje</th>
					<th style="text-align: center;">Broj sedista</th>
					<th style="text-align: center;">Tip</th>
					<th style="text-align: center;">Prosecna ocena</th>
					<th style="text-align: center;">Cena</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			
		</table>
	</div>
	
	<div class = "w-100"></div>
	
	<div class="col scroll" style="height:300px;">
	<br>
		<h2>Slobodna vozila:</h2>
		<table class="table" >
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;">Naziv</th>
					<th style="text-align: center;">Marka</th>
					<th style="text-align: center;">Model</th>
					<th style="text-align: center;">Godina proizvodnje</th>
					<th style="text-align: center;">Broj sedista</th>
					<th style="text-align: center;">Tip</th>
					<th style="text-align: center;">Prosecna ocena</th>
					<th style="text-align: center;">Cena</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			
		</table>
	</div>
	
	</div>
	</div>