<div class="container-fluid">
	<div class="row">
	  <div class="col-6">
	  <div style="max-height: 320px; overflow-y:  scroll;">
		<br>
		<h4>Vozila:</h4>            
		<table class="table">
		  <thead>
			<tr>
			  <th>Cena</th>
			  <th>Naziv</th>
			  <th>Marka</th>
			  <th>Model</th>
			  <th>Godina proizvodnje</th>
			  <th>Broj sedista</th>
			  <th>Na popustu</th>
			  <th>Adresa lokacije</th>  
			  <th><button class="btn btn-link" (click) = "dodajNovi()">Dodaj novo</button></th>
			  <th>&nbsp;</th>
			</tr>
		  </thead>
		  <tbody *ngFor="let vozilo of vozila">
			<tr>
			  <td>{{vozilo.cena}}</td>	
			  <td>{{vozilo.naziv}}</td>
			  <td>{{vozilo.marka}}</td>
			  <td>{{vozilo.model}}</td>
			  <td>{{vozilo.godinaProizvodnje}}</td>
			  <td>{{vozilo.brSedista}}</td>
			  <td>{{vozilo.naPopustu}}</td>
			  <td>{{vozilo.adresaLokacije}}</td>
			  <td><button class="btn btn-link" (click) = "obrisi(vozilo)">Obrisi</button></td>
			  <td><button class="btn btn-link" (click) = "izmeni(vozilo)">Izmeni</button></td>
			</tr>
		  </tbody>
		</table> 
	  </div>
	  <p class="text-danger">{{porukaBrisanje}}</p>
	</div>
	  <div class="col-6" *ngIf = "prikazFormeZaDodavanjeNovog">
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Cena:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="cenaVoz" [(ngModel)] = "novoVozilo.cena" [ngModelOptions] = "{standalone:true}">
					</div>
			</div>
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Naziv:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="nazivVoz" [(ngModel)] = "novoVozilo.naziv" [ngModelOptions] = "{standalone:true}">
					</div>
			</div>
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Marka:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="markaVoz" [(ngModel)] = "novoVozilo.marka" [ngModelOptions] = "{standalone:true}">
					</div>
			</div> 
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Model:</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="modelVoz" [(ngModel)] = "novoVozilo.model" [ngModelOptions] = "{standalone:true}">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Godina proizvodnje:</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="proizVoz" [(ngModel)] = "novoVozilo.godinaProizvodnje" [ngModelOptions] = "{standalone:true}">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Broj sedista:</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="brSedVoz" [(ngModel)] = "novoVozilo.brSedista" [ngModelOptions] = "{standalone:true}">
				</div>
			</div> 
			<div class="form-group row">
				<label class="col-sm-5 col-form-label">Na popustu:</label>
                    <div class="col-sm-7">
                        <select [(ngModel)]="selektovanaOpcija" id="popustVozilo">
                            <option *ngFor="let o of opcije">
                                {{o.name}}
                            </option>
                        </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
			</div>
			<div class="form-group row">
				<label class="col-sm-5 col-form-label">Adresa lokacije:</label>
				<div class="col-sm-7">
					<select [(ngModel)]="selektovanaLokacija" id="adresaLokacije">
						<option *ngFor="let l of lokacije" [value]="l.adresa">
							{{l.adresa}}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
					<div class="col-sm-10 text-center">
					  <p class="text-danger">{{poruka}}</p>
					  <button class="btn btn-dark" (click)="Dodaj()">Dodaj</button>
					</div>
			</div>
	  </div>

	  <div class="col-6" *ngIf = "prikazFormeZaIzmenuPostojeceg">
		  <br>
		  <h4>Izmena vozila:</h4> 
		  <div class="form-group row">
				<label class="col-sm-2 col-form-label">Cena:</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="cenaVozila" [(ngModel)] = "novoVozilo.cena" [ngModelOptions] = "{standalone:true}">
				</div>
			</div>
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Naziv:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="nazivVozila" [(ngModel)] = "novoVozilo.naziv" [ngModelOptions] = "{standalone:true}">
					</div>
			</div>
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Marka:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="markaVozila" [(ngModel)] = "novoVozilo.marka" [ngModelOptions] = "{standalone:true}">
					</div>
			</div>
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Model:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="modelVozila" [(ngModel)] = "novoVozilo.model" [ngModelOptions] = "{standalone:true}">
					</div>
			</div>
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Godina proizvodnje:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="proizGodVozila" [(ngModel)] = "novoVozilo.godinaProizvodnje" [ngModelOptions] = "{standalone:true}">
					</div>
			</div>
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Broj sedista:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="brSedVozila" [(ngModel)] = "novoVozilo.brSedista" [ngModelOptions] = "{standalone:true}">
					</div>
			</div>
			<div class="form-group row">
					<label class="col-sm-5 col-form-label">Na popustu:</label>
						<div class="col-sm-7">
							<select [(ngModel)]="selektovanaOpcijaIzmena" id="popustVozilo">
								<option *ngFor="let o of opcije">
									{{o.name}}
								</option>
							</select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label">Adresa lokacije:</label>
					<div class="col-sm-7">
						<select [(ngModel)]="selektovanaLokacijaIzmena" id="adresaLokacije">
							<option *ngFor="let l of lokacije" [value]="l.adresa">
								{{l.adresa}}
							</option>
						</select>
					</div>
				</div>		
			<div class="form-group row">
					<div class="col-sm-10 text-center">
					  <p class="text-danger">{{poruka}}</p>
					  <button class="btn btn-dark" (click)="Izmena()">Sacuvaj</button>
					</div>
			</div> 
	  </div>
	</div>
</div>