<div class="container-fluid">
	<div class="row">
	<div class="col scroll" style="height:300px;">
	<br>
		<h2>Spisak vozila:</h2>
		<table class="table" >
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;">Naziv</th>
					<th style="text-align: center;">Marka</th>
					<th style="text-align: center;">Model</th>
					<th style="text-align: center;">Godina proizvodnje</th>
					<th style="text-align: center;">Broj sedista</th>
					<th style="text-align: center;">Tip</th>
					<th style="text-align: center;">Prosecna ocena</th>
					<th style="text-align: center;">Cena</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			
		</table>
	</div>
	
	<div class = "w-100"></div>
	
<div class="col-6">
			<h3>Dodaj vozilo:</h3>
						<table class="table">
							<tr>
								<td align="center">Naziv:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr><tr>
								<td align="center">Marka:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr><tr>
								<td align="center">Model:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr><tr>
								<td align="center">Godina proizvodnje:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr><tr>
								<td align="center">Broj sedista:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr>
							<tr>
								<td align="center">Tip:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr>
							<tr>
								<td align="center">Cena:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr>							
							<tr>
								<td colspan="2" align="center"><button>Dodaj</button></td>
							</tr>
							
	                    </table>
	
	</div>
	
	

<div class="col-6">
			<h3>Izmeni vozilo:</h3>
						<table class="table">
							<tr>
								<td align="center">Naziv:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr><tr>
								<td align="center">Marka:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr><tr>
								<td align="center">Model:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr><tr>
								<td align="center">Godina proizvodnje:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr><tr>
								<td align="center">Broj sedista:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr>
							<tr>
								<td align="center">Tip:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr>
							<tr>
								<td align="center">Cena:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr>							
							<tr>
								<td colspan="2" align="center"><button>Izmeni</button></td>
							</tr>
							
	                    </table>
	
	</div>
	</div>
	</div>