<div class="container-fluid">
	<div class="row">
	<div class="col scroll">
		<h2>Rent a Car servisi:</h2>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;">Naziv</th>
					<th style="text-align: center;">Adresa</th>
					<th style="text-align: center;">Promotivni opis</th>
					<th style="text-align: center;">Prosecna ocena</th>
					<th style="text-align: center;">Filijale</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	<div class="w-100"></div>
	<div class="col scroll" style="height:300px;">
		<h2>Vozila:</h2>
		<table class="table" >
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;">Naziv</th>
					<th style="text-align: center;">Marka</th>
					<th style="text-align: center;">Model</th>
					<th style="text-align: center;">Godina proizvodnje</th>
					<th style="text-align: center;">Broj sedista</th>
					<th style="text-align: center;">Tip</th>
					<th style="text-align: center;">Prosecna ocena</th>
					<th style="text-align: center;">Cena</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			<tfoot>
				<tr>
					<td style="text-align: center;">Pretraga:</td>
					<td style="text-align: center;">&nbsp;</td>
					<td style="text-align: center;">&nbsp;</td>
					<td style="text-align: center;"><input type="text"/></td>
					<td style="text-align: center;"><input type="text"/></td>
					<td style="text-align: center;">
						<select>
							<option value="Automobil">Automobil</option>
						</select>
					</td>
					<td style="text-align: center;">&nbsp;</td>
					<td style="text-align: center;">&nbsp;</td>
					<td><button class="btn btn-outline-primary">Pretrazi</button></td>
				</tr>
			</tfoot>
		</table>
	</div>
	</div>
	</div>