<div class="container">
    <form class="form-horizontal">
        <div class="row">
            <h3 class="text-left pl-3 pb-2">Registracija:</h3>
        </div>
        <p class="text-danger">{{poruka}}</p>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Ime" required autofocus [(ngModel)]="korisnik.ime" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                      <input type="text" name="name" class="form-control" id="surname"
                             placeholder="Prezime" required autofocus [(ngModel)]="korisnik.prezime" [ngModelOptions] = "{standalone:true}">
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <input type="text" name="name" class="form-control" id="brTel"
                           placeholder="Broj telefona" required autofocus [(ngModel)]="korisnik.brTelefona" [ngModelOptions] = "{standalone:true}">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <!-- Put name validation error messages here -->
                    </span>
            </div>
        </div>
    </div>
    <p class="text-danger">{{porukaTelefon}}</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="Email" required autofocus [(ngModel)]="korisnik.email" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="*****" required [(ngModel)]="korisnik.lozinka" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password1"
                               placeholder="*****" required [(ngModel)]="ponovljenaLozinka" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            
                        </span>
                </div>
            </div>
        </div>
        <p class="text-danger">{{lozinke}}</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="name" class="form-control" id="grad"
                               placeholder="Grad" required autofocus [(ngModel)]="korisnik.grad" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" (click)="submit()"><i class="fa fa-user-plus"></i> Registruj se</button>
            </div>
        </div>
    </form>
  </div>