<div class="container-fluid">
	<div class="row">
	<div class="col-8">
		<br>
		<h2>Rent a car servis:</h2>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;">Naziv</th>
					<th style="text-align: center;">Adresa</th>
					<th style="text-align: center;">Promotivni opis</th>
					<th style="text-align: center;">Prosecna ocena</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	
	<div class="col-4">
		<br>
		<h3>Izmeni servis:</h3>
					<table class="table" id="izmeniServis">
						<tr>
							<td align="center">Naziv:</td>
							<td align="center"><input type="text"/>
							</td>
						</tr>
						<tr>
							<td align="center">Adresa:</td>
							<td align="center"><input type="text"/></td>
						</tr>
						<tr>
							<td align="center">Promotivni opis:</td>
							<td align="center"><input type="text"/></td>
						</tr>
						<tr>
							<td colspan="2" align="center"><button>Izmeni</button></td>
						</tr>
					</table>
	</div>
	<div class="w-100"></div>
	
	<div class="col scroll">
		<h2>Filijale:</h2>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;">Adresa</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	<div class = "w-100"></div>

	<div class="col-6">
			<h3>Dodaj filijalu:</h3>
						<table class="table">
							<tr>
								<td align="center">Adresa:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="center"><button>Dodaj</button></td>
							</tr>
							
	                    </table>
	
	</div>
	
	

    <div class="col-6">
			<h3>Izmeni filijalu:</h3>
						<table class="table">
							<tr>
								<td align="center">Adresa:</td>
								<td align="center"><input type="text"/>
								</td>
							</tr>
							
							<tr>
								<td colspan="2" align="center"><button>Izmeni</button></td>
							</tr>
	                    </table>
    </div>
	
	</div>
</div>