<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="max-height: 350px; overflow-y:  scroll;">
            <div class="row">
                    <div class="col-12">
                            <h5 class="mt-2">Rezervisani letovi:</h5> 
                    </div>
                </div>
            <table class="table table-sm table-striped border mt-2">
                <thead class="thead "> 
                    <tr>
                        <th>Tip</th>
                        <th>Avion</th>
                        <th>Datum i vreme poletanja</th>
                        <th>Datum i vreme sletanja</th>
                        <th>Mesto poletanja</th>
                        <th>Mesto sletanja</th>
                        <th>Prosecna ocena</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead> 
                <tbody style="max-height: 420px; overflow-y:  scroll;">
                    <tr *ngFor = "let l of letovi">
                        <td>{{l.tip}}</td>
                        <td>{{l.avion.ime}}</td>
                        <td>{{l.datumPoletanja.slice(0,10)}} {{l.datumPoletanja.slice(11,19)}}</td>
                        <td>{{l.datumSletanja.slice(0,10)}} {{l.datumSletanja.slice(11,19)}}</td>
                        <td>{{l.polaznaDestinacija.ime}} {{l.polaznaDestinacija.grad}}</td>
                        <td>{{l.odredisnaDestinacija.ime}} {{l.odredisnaDestinacija.grad}}</td>
                        <td>{{l.prosecnaOcena}}</td>
                        <td><button class="btn btn-link" (click) = "oceni(l)">Oceni</button></td>
                        <td><button class="btn btn-link" (click) = "obrisi(l)">Otkazi</button></td>
                    </tr>
                </tbody>
            </table> 
            <p class="text-danger">{{porukaBrisanje}}</p>
        </div>

        <div class="col-12" style="max-height: 350px; overflow-y:  scroll;">
                <div class="row">
                        <div class="col-12">
                                <h5 class="mt-2">Rezervisana vozila:</h5> 
                        </div>
                </div>
                <table class="table table-sm table-striped border mt-2">
                    <thead class="thead "> 
                        <tr>
                            <th>Rezervacija</th>
                            <th>Korisnik</th> 
                            <th>Prosecna ocena</th>
                            <th>Vozilo</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let r of rezervacije">
                            <td>{{r.idRezVozilo}}</td>
                            <td>{{r.emailKorisnika}}</td>
                            <td>{{r.prosecnaOcena}}</td>
                            <td>{{r.vozilo.marka}}</td>
                            <td><button class="btn btn-link" (click) = "oceni1(r)">Oceni</button></td>
                            <td><button class="btn btn-link" (click) = "obrisiVozilo(r)">Otkazi</button></td>
                        </tr>
                    </tbody>
                </table> 
                <p class="text-danger">{{porukaBrisanje1}}</p>
            </div>

            <div class="col-6" *ngIf = "prikazFormeZaOcenjivanjeLeta">
                    <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Ocena leta:</label>
                                <div class="col-sm-7">
                                    <select [(ngModel)]="selektovanaOpcija" id="ocenaLet">
                                        <option *ngFor="let o of opcije">
                                            {{o.name}}
                                        </option>
                                    </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-10 text-center">
                                  <p class="text-danger">{{porukaOcenjivanje}}</p>
                                  <button class="btn btn-dark" (click)="Oceni()">Sacuvaj</button>
                                </div>
                        </div>
            </div>

            <div class="col-6" *ngIf = "prikazFormeZaOcenjivanjeVozila">
                    <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Ocena vozila:</label>
                                <div class="col-sm-7">
                                    <select [(ngModel)]="selektovanaOpcija1" id="ocenaVozilo">
                                        <option *ngFor="let o1 of opcije1">
                                            {{o1.name}}
                                        </option>
                                    </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-10 text-center">
                                  <p class="text-danger">{{porukaOcenjivanje1}}</p>
                                  <button class="btn btn-dark" (click)="Oceni1()">Sacuvaj</button>
                                </div>
                        </div>
            </div>
    </div>
</div>
