<div class="container-fluid">
    <div class="row">
        <div class="col scroll">
            <h2>Hoteli:</h2>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th style="text-align: center;">Naziv</th>
                        <th style="text-align: center;">Adresa</th>
                        <th style="text-align: center;">Promotivni opis</th>
                        <th style="text-align: center;">Prosecna ocena</th>
                        <th style="text-align: center;">Slobodne sobe</th>
                        <th style="text-align: center;">Cenovnik</th>
                        <th style="text-align: center;">Dodatne usluge</th>
                    </tr>
                </thead>
                <tbody>
            
                </tbody>
            </table>
        </div>
    </div>
</div>