<div class="container-fluid">
    <div class="row">
        <div class="col-12 scroll">
                <div class="row">
                        <div class="col-8">
                           <h5 class="mt-2">Avioni:</h5> 
                        </div>
                        <div class="col-4 py-1 px-3">
                           <button class="btn btn-secondary float-right" (click)="dodajAvion(templateDA)">Dodaj avion</button>         
                        </div>
                </div>
            <table class="table table-sm table-striped border mt-2">
                <thead class="thead ">
                    <tr>
                        <th>Naziv</th>
                        <th>Prva klasa</th>
                        <th>Biznis klasa</th>
                        <th>Ekonomska klasa</th>
                        <th>&nbsp;</th>
                        <!-- <th style="text-align: center;"><button class="btn btn-link" (click) = "dodajAvion()">Dodaj avion</button></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let a of avioni">
                        <td>{{a.ime}}</td>
                        <td><button class="btn btn-link" (click) = "izmeniPrvuKlasu(a)">Izmeni</button></td>
                        <td><button class="btn btn-link" (click) = "izmeniBiznisKlasu(a)">Izmeni</button></td>
                        <td><button class="btn btn-link" (click) = "izmeniEkonomskuKlasu(a)">Izmeni</button></td>
                        <td><button class="btn btn-link" (click) = "izmeniAvion(a, templateIA)">Izmeni avion</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="col-6" *ngIf = "prikazFormeZaDodavanjeAviona"> 
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ime:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="imeAvio" [(ngModel)] = "avion.ime" [ngModelOptions] = "{standalone:true}">
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><b>Prva klasa:</b></label>
                        <div class="col-sm-10">
                          &nbsp;
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Broj redova:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="brRedPrva" [(ngModel)] = "brRedPrva" [ngModelOptions] = "{standalone:true}">
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Broj kolona:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="brKolPrva" [(ngModel)] = "brKolPrva" [ngModelOptions] = "{standalone:true}">
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><b>Biznis klasa:</b></label>
                        <div class="col-sm-10">
                          &nbsp;
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Broj redova:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="brRedBiznis" [(ngModel)] = "brRedBiznis" [ngModelOptions] = "{standalone:true}">
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Broj kolona:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="brKolBiznis" [(ngModel)] = "brKolBiznis" [ngModelOptions] = "{standalone:true}">
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><b>Ekonomska klasa:</b></label>
                        <div class="col-sm-10">
                          &nbsp;
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Broj redova:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="brRedEkonomska" [(ngModel)] = "brRedEkonomska" [ngModelOptions] = "{standalone:true}">
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Broj kolona:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="brKolEkonomska" [(ngModel)] = "brKolEkonomska" [ngModelOptions] = "{standalone:true}">
                        </div>
                </div>
                <p class="text-danger">{{poruka}}</p>
                <div class="form-group row">
                        <div class="col-sm-10 text-center">
                            <button class="btn btn-dark" (click)="dodaj()">Dodaj</button>
                        </div>
                </div>
        </div>-->

        <ng-template #templateDA>
                <div class="modal-header">
                        <h4 class="modal-title pull-left">Dodaj avion:</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="zatvaranjeModala()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Ime:</label>
                                                <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="imeAvio" [(ngModel)] = "avion.ime" [ngModelOptions] = "{standalone:true}">
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"><b>Prva klasa:</b></label>
                                                <div class="col-sm-10">
                                                  &nbsp;
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Broj redova:</label>
                                                <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="brRedPrva" [(ngModel)] = "brRedPrva" [ngModelOptions] = "{standalone:true}">
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Broj kolona:</label>
                                                <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="brKolPrva" [(ngModel)] = "brKolPrva" [ngModelOptions] = "{standalone:true}">
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"><b>Biznis klasa:</b></label>
                                                <div class="col-sm-10">
                                                  &nbsp;
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Broj redova:</label>
                                                <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="brRedBiznis" [(ngModel)] = "brRedBiznis" [ngModelOptions] = "{standalone:true}">
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Broj kolona:</label>
                                                <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="brKolBiznis" [(ngModel)] = "brKolBiznis" [ngModelOptions] = "{standalone:true}">
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"><b>Ekonomska klasa:</b></label>
                                                <div class="col-sm-10">
                                                  &nbsp;
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Broj redova:</label>
                                                <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="brRedEkonomska" [(ngModel)] = "brRedEkonomska" [ngModelOptions] = "{standalone:true}">
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Broj kolona:</label>
                                                <div class="col-sm-10">
                                                  <input type="text" class="form-control" id="brKolEkonomska" [(ngModel)] = "brKolEkonomska" [ngModelOptions] = "{standalone:true}">
                                                </div>
                                        </div>
                                        <p class="text-danger text-center">{{poruka}}</p>
                                        <div class="form-group row">
                                                <div class="col-sm-10 text-center">
                                                    <button class="btn btn-dark" (click)="dodaj()">Dodaj</button>
                                                </div>
                                        </div>         
                </div>
        </ng-template>

        <ng-template #templateIA>
                        <div class="modal-header">
                                <h4 class="modal-title pull-left">Izmeni avion:</h4>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="zatvaranjeModalaIzmena()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Ime:</label>
                                        <div class="col-sm-10">
                                                <input type="text" class="form-control" id="trenutnoIme" [(ngModel)] = "trenutnoIme" [ngModelOptions] = "{standalone:true}">
                                        </div>
                                </div>
                                <p class="text-danger text-center">{{porukaZaIzmenu}}</p>
                                <div class="form-group row">
                                        <div class="col-sm-10 text-center">
                                                <button class="btn btn-dark" (click)="promena()">Izmeni</button>
                                        </div>
                                </div>                          
                        </div>
        </ng-template>

        <!-- <div class="col-6" *ngIf = "prikazFormeZaIzmenuAviona"> 
                <h4>Izmeni avion:</h4>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ime:</label>
                        <div class="col-sm-10">
                                <input type="text" class="form-control" id="trenutnoIme" [(ngModel)] = "trenutnoIme" [ngModelOptions] = "{standalone:true}">
                        </div>
                </div>
                <p class="text-danger">{{porukaZaIzmenu}}</p>
                <div class="form-group row">
                        <div class="col-sm-10 text-center">
                                <button class="btn btn-dark" (click)="promena()">Izmeni</button>
                        </div>
                </div>
        </div>-->
        <div class="w-100"></div>
        <div class="col-2" *ngIf = "prikazIzmeneKlase">
                <h4>Status sedista:</h4>
                <button class="btn btn-secondary" ></button>&nbsp;slobodno<br><br>
                <button class="btn btn-dark" ></button>&nbsp;obrisano<br><br>
                <button class="btn btn-danger" ></button>&nbsp;rezervisano<br><br>
                <button class="btn btn-primary" ></button>&nbsp;brza rezervacija
        </div>
        <div class="col-1" *ngIf="prikazIzmeneKlase"><br><br><br><br><br><br><br><br><br><br><br><br>
                <button class="btn btn-dark" (click) = "zatvori()">Zatvori</button>
        </div>
        <div class="col-1" *ngIf="prikazIzmeneKlase"></div>
        <div class="col-5" *ngIf="prikazIzmeneKlase" >
                <h4>Konfiguracija sedista - {{imeKlase}} klasa:</h4>
                <br>
                <ng-container *ngFor = "let s of sedistaZaIzmenu">
                        <div class="btn-group">
                                <div *ngIf="s.status == 'SLOBODNO'">
                                        <button class="btn btn-secondary" (click)="izmeniSediste(s)"></button>&nbsp;
                                </div>
                                <div *ngIf="s.status == 'OBRISANO'">
                                        <button class="btn btn-dark" (click)="izmeniSediste(s)"></button>&nbsp;
                                </div>
                                <div *ngIf="s.status == 'REZERVISANO'">
                                        <button class="btn btn-danger" disabled></button>&nbsp;
                                </div>
                                <div *ngIf="s.status == 'BRZA_REZERVACIJA'">
                                        <button class="btn btn-primary" (click)="izmeniSediste(s)"></button>&nbsp;
                                </div>
                        </div>
                        <div *ngIf="s.granica">
                                <br>
                        </div>
                </ng-container><br>
                <button class="btn btn-link" (click) = "dodajSediste()">Dodaj sediste</button><br><br>
                
        </div>
        <div class="col-3" *ngIf="prikazIzmeneSedista">
                <h4>Izmenite status:</h4>
                <br> 
                <select [(ngModel)]="selektovanaOpcija">
                        <option *ngFor="let o of opcije">
                                {{o.name}}
                        </option>
                </select>
                <br><br>
                <div class="form-group row">
                        <div class="col-sm-10 text-center">
                                <button class="btn btn-dark" (click)="potvrdi()">Potvrdi</button>
                        </div>
                </div>
        </div>
    </div>
</div>