<p>rezervisanje-vozila works!</p>
<!--<div class="form-group row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <label for="address">Sortiraj aviokompanije po:</label>
            <select class="form-control" id="sortRent" (change)="sortirajAvio()">
                <option hidden disabled selected value="none"></option>
                <option value="NameA">Ime [A-Z]</option>
                <option value="NameD">Ime [Z-A]</option>
            </select>
        </div>
    </div>-->