<div class="container-fluid">
	<div class="row">
	<div class="col scroll">
		<h2>Avio kompanije:</h2>
		<table id="tabelaKompanija" class="table">
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;">Naziv</th>
					<th style="text-align: center;">Adresa</th>
					<th style="text-align: center;">Promotivni opis</th>
					<th style="text-align: center;">Prosecna ocena</th>
					<th style="text-align: center;">Destinacije saobracanja</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	<div class="w-100"></div>
	
	<!-- UBACITI KOD LETOVA PRIKAZ SLOBODNIH MESTA -->
	
	<div class="col scroll" style="height:300px;">
		<h2>Letovi:</h2>
		<table class="table" >
			<thead class="thead-light">
				<tr>
					<th style="text-align: center;"><select id="datPol"><option value="Datum i vreme poletanja">Datum i vreme poletanja</option></select></th>
					<th style="text-align: center;"><select id="datSl"><option value="Datum i vreme sletanja">Datum i vreme sletanja</option></select></th>
					<th style="text-align: center;"><select id="Poldest"><option value="Polazna destinacija">Polazna destinacija</option></select></th>
					<th style="text-align: center;"><select id="Odrdest"><option value="Odredisna destinacija">Odredisna destinacija</option></select></th>
					<th style="text-align: center;">Duzina putovanja</th>
					<th style="text-align: center;">Prosecna ocena leta</th>
					<th style="text-align: center;">Lokacije presedanja</th>
					<th><button class="btn btn-outline-primary">Pretrazi</button></th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	</div>
</div>